@import url("https://fonts.googleapis.com/css?family=Merienda");

.icon_color {
  color: #8273a3;
  padding-right: 7px;
  padding-bottom: 8px;
}

.card_styling {
  font-family: "Merienda", cursive;
  background-color: #edf7ff;
}
